/* section.con01 */
.con01 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.con01 .videoWrap video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.con01 .title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
}
.con01 .title h2 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
}

@media screen and (max-width:1024px) {
  .con01 .title h2{font-size: 7vw;}
}
